<h2> <%= @project.title %> </h2>
<% @project.todos.all.each do |todo| %>
    <p>
    	<%= todo.text %>
    	<%= hidden_field_tag :isCompleted, 'false' %>
     	<%= check_box('tag', todo.__id__, {class: 'icheckbox_square-blue', checked: todo.isCompleted}) %> 
     </p>
<% end %>
<%= link_to 'Вернуться на главную страницу', projects_path %>